<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand ms-3" href="index.html"><img id="skor-logo" src="images/SKOR_logo.svg" alt="SKOR Logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav w-100 justify-content-end mb-2 mb-lg-0">
                <li class="nav-item me-4">
                    <a id="nav-about" class="nav-link" aria-current="page" href="about.html">About</a>
                </li>
                <li class="nav-item me-4">
                    <a id="nav-contact" class="nav-link" aria-current="page" href="contact.html">Contact</a>
                </li>
                <li class="nav-item me-4">
                    <a id="nav-index" class="nav-link" aria-current="page" href="index.html">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
    // Add "active" class to current page navlink
    const navPath = window.location.pathname;
    const navPage = navPath.split("/").pop();
    selectNav(navPage.split(".")[0]);
    
    function selectNav(nav) {
        if (nav == "choose_user") {
            nav = "index";
        }
        document.getElementById("nav-" + nav).classList.add("active");
    }
</script>